.form {
  display: flex;
  flex-direction: column;
  gap: 20px;


  & .errorMessage {
    color: red;
  }

  .errorInput{
    border-color: red;
  }

  & .field {
    display: flex;
    flex-direction: column;
    gap: 10px;

    & label {
      color: var(--text-color);
      font-size: 18px;
      font-weight: 600;
    }
  }
}