.container{
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  width: 100%;

  & .title{
    font-size: 30px;
    font-weight: 700;
  }

  & .list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    .cardContainer{
      width: 25%;
      padding: 20px;
    }
  }
}